<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>choice.actor.ShutdownListener</listener-class>
    </listener>

    <filter>
        <filter-name>GZipFilter</filter-name>
        <filter-class>choice.core.GZipFilter</filter-class>
        <init-param>
            <param-name>threshold</param-name>
            <param-value>1400</param-value>
        </init-param>
        <init-param>
            <param-name>mimetypes</param-name>
            <param-value>+application/json</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>GZipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>choice.core.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
		<display-name>Lift Filter</display-name>
        <!-- <description>The Filter that intercepts lift calls</description> -->
		<filter-name>LiftFilter</filter-name>
        <filter-class>net.liftweb.http.LiftFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LiftFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!--
	<resource-ref>
		<description>Lift1 DB Connection</description>
		<res-ref-name>jdbc/fslift3</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
-->

<!--
    <context-param>
		<description>directory containing file data for DB filesystem</description>
		<param-name>dbfs.datadir</param-name>
		<param-value>${catalina.base}/ChoiceData3</param-value>
	</context-param>
-->

</web-app>
